<%include layout/webheader.ejs%>
<link rel="stylesheet" href="/static/css/index/index.css">
<div class="Main">
    <div class="Logo">
        <img src="/static/img/logow.png" alt="">
    </div>
    <p class="Title">Hello! I am Echonessy.</p>
    <div class="PlayBox">
        <img src="/static/img/index/p0.png" id="Play" alt="" data-status="stop">
    </div>
    <button class="btn btn-primary StartBtn">开始吧</button>
    <audio id="Music" src="/static/music/Hello.mp3" ></audio>
</div>
<script>
    $(function () {
        Init()
        function Init() {
            $('#Play').on('click',function () {
                var this_ = $(this);
                var this_status = this_.attr('data-status');
                if(this_status == 'play') {
                    this_.attr({'data-status':'stop','src':"/static/img/index/p0.png"});
                    $('#Music').get(0).pause();
                } else {
                    this_.attr({'data-status':'play','src':"/static/img/index/p1.png"});
                    $('#Music').get(0).play();
                }
            })
            $('.StartBtn').on('click',function () {
                window.location.href = '/welcome'
            })
        }
    })
</script>
<%include layout/nullfooter.ejs%>